@import "tailwindcss";

.max-container {
    max-width: 80rem; /* 5xl */
    margin-left: auto;
    margin-right: auto;
    padding-top: 126px;
    padding-bottom: 3rem; /* pb-12 */
    padding-left: 2rem; /* px-8 */
    padding-right: 2rem; /* px-8 */
    min-height: calc(100vh - 80px);
  }
  
  .head-text {
    font-size: 3rem; /* text-3xl */
    font-weight: 600; /* font-semibold */
    line-height: 1.5; /* sm:leading-snug */
    font-family: 'Poppins', sans-serif;
  }
  
  @media (min-width: 640px) {
    .head-text {
      font-size: 3.125rem; /* sm:text-5xl */
    }
  }
  
  .subhead-text {
    font-size: 1.25rem; /* text-xl */
    font-weight: 600; /* font-semibold */
    position: relative;
    font-family: 'Poppins', sans-serif;
  }
  
  @media (min-width: 640px) {
    .subhead-text {
      font-size: 1.875rem; /* sm:text-3xl */
    }
  }
  
  .blue-gradient_text {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .input {
    background-color: white;
    border: 1px solid #e5e7eb; /* border-gray-200 */
    color: #111827; /* text-gray-900 */
    font-size: 0.875rem; /* text-sm */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem; /* p-2.5 */
    margin-top: 0.625rem; /* mt-2.5 */
    font-weight: 400; /* font-normal */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow-card */
  }
  
  .input:focus {
    outline: none;
    border-color: #3b82f6; /* focus:border-blue-500 */
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* focus:ring-blue-500 */
  }
  
  .textarea {
    background-color: white;
    border: 1px solid #e5e7eb; /* border-gray-200 */
    color: #111827; /* text-gray-900 */
    font-size: 0.875rem; /* text-sm */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem; /* p-2.5 */
    margin-top: 0.625rem; /* mt-2.5 */
    font-weight: 400; /* font-normal */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow-card */
  }
  
  .textarea:focus {
    outline: none;
    border-color: #3b82f6; /* focus:border-blue-500 */
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* focus:ring-blue-500 */
  }
  
  .btn {
    color: white;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-weight: 500; /* font-medium */
    font-size: 0.875rem; /* text-sm */
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
    text-align: center;
    display: inline-block;
  }
  
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5); /* focus:ring-blue-300 */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* px-8 py-4 */
    max-width: 80rem; /* max-w-5xl */
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    background: transparent;
    z-index: 10;
    left: 0;
    right: 0;
  }
  
  .footer {
    max-width: 80rem; /* max-w-5xl */
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem; /* pb-6 */
    padding-left: 2rem; /* px-8 */
    padding-right: 2rem; /* px-8 */
    display: flex;
    flex-direction: column;
    gap: 1.75rem; /* gap-7 */
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75rem; /* gap-7 */
    align-items: center;
    justify-content: space-between;
  }
  
  .info-box {
    margin-left: 1.25rem; /* mx-5 */
    margin-right: 1.25rem; /* mx-5 */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem; /* gap-3 */
    max-width: 40rem; /* max-w-2xl */
    background: #2b77e7;
    color: white;
    padding: 1rem 2rem; /* pt-4 pb-12 px-8 */
    border-radius: 0.625rem; /* rounded-lg */
    box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
      0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
  }
  
  .neo-btn {
    padding: 0.75rem 1.5rem; /* py-3 px-6 */
    border-radius: 0.5rem; /* rounded-lg */
    color: #3b82f6; /* text-blue-500 */
    text-align: center;
    font-weight: 600; /* font-semibold */
    position: absolute;
    bottom: -1.25rem; /* -bottom-5 */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem; /* gap-3 */
  }
  
  .cta {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem; /* mt-8 */
    gap: 1.75rem; /* gap-7 */
  }
  
  @media (min-width: 768px) {
    .cta {
      flex-direction: row;
      margin-top: 4rem; /* sm:mt-16 */
    }
  }
  
  .cta-text {
    color: #111827; /* text-black-500 */
    font-weight: 800; /* font-extrabold */
    flex: 1;
    font-size: 1.875rem; /* text-3xl */
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .cta-text {
      text-align: left;
    }
  }

.glassmorphism {
    background: rgba(8, 116, 239, 0.07);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

.logo {
border-radius: 8.889px;
background: #fff;
box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
position: relative;
transition: 250ms;
perspective: 500px;
}

.block-container .btn-back {
position: absolute;
inset: 0;
z-index: -1;
width: inherit;
height: inherit;
transition: 250ms;
transform-style: preserve-3d;
transform-origin: bottom right;
transform: rotateZ(15deg);
will-change: transform;
box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
position: absolute;
inset: 0;
z-index: 1;
width: inherit;
height: inherit;
background-color: #ffffff33;
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
transition: 250ms;
transform-style: preserve-3d;
transform-origin: top left;
overflow: hidden;
}

.block-container:hover > .btn-back {
transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
background: #2b77e7;
position: relative;
border-radius: 10px;
border: #2b77e7;
box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
background: #fff;
border: #fff;
box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 1.5s linear infinite;
}

.scroll-section {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.transition-transform {
  transition: transform 0.1s ease-out;
}
